<!DOCTYPE html>
<html>
<head>
	<title>Goyim Inc</title>
</head>
<body>
	<%= yield %>
	<script type="text/javascript">
	function quote(post) {
		document.postform.post.value += ">>" + post + "\n";
	}
	</script>
</body>
</html>