<form action="/post" method="post">
	Name: <input type="text" name="name"> (3 character minimum)<br>
	Post: <textarea name="post"></textarea> (10 character minimum)<br>
	      <input type="submit" value="Post">
</form>